[submodule "librelane"]
	path = chipinvaders/librelane
	url = https://github.com/librelane/librelane
	branch = dev
[submodule "pdk"]
	path = chipinvaders/pdk
	url = https://github.com/otjamin/IHP-Open-PDK
	branch = dev
